//fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face { font-family: 'Intro'; src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/Intro.ttf.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/Intro.ttf.svg#Intro') format('svg'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/Intro.ttf.eot'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/Intro.ttf.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }

//variables
$select-color: #C4A865;

body {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/blurred_bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.chicago {
  box-sizing: border-box;
  font: 13px "Open Sans", Arial;
  padding: 40px 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  width: 360px;
  height: 480px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chicago.jpg');
  border-radius: 2px;
  position: relative
  
}

.city-title, .city-weather-temperature, .city-weather-description, img.city-weather-icon {
  font-family: 'Intro';
  text-align: center;
  margin:auto;
  display: block;
}

.city-title {
  font-size: 26px;
  padding-top: 24px;
}

hr {
  border-top: 1px solid #A3A3A3;
  border-bottom: 1px solid #626165;
  width: 112px;
}

.city-weather-temperature {
  font-size: 22px;
  margin-bottom: 10px;
}

.city-weather-description {
  width: 120px;
  margin: auto;
  text-align: center;
}

.content {
  position: absolute;
  bottom: 0px;
  z-index: 9999;
}

nav {
  background: #fffff0;
  padding-left: 0px;
  
  ul {
    padding: 13px 0;
    
    li {
      display: inline;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 11px;
      
      border-color: rgba(0,0,0,0);
      transition: border-color 0.25s linear;

      &.selected {
         border-bottom: 3px solid $select-color;
      }
      
      &:hover {
        border-bottom: 3px solid $select-color;
        border-color: 3px solid rgba(198,168,101,1);
 
      }
      
      &:last-child {
        padding-right: 18px;
      }
      
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  
} // end nav

.nav-info-behind {
  background: rgba(255,255,240, 0.65);
  z-index: -1;
  height: 130px; 
  width: 360px; 
  position: absolute; 
  bottom: 0;
  
}

.nav-info {
  background: rgba(255,255,240, 0.65);
   
  .info {
    margin-top: 20px;
    margin-bottom: 24px;
    
    .company-name {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 3px;
    }
    
    .address {
      line-height: 16px;
      margin-bottom: 6px;
    }
    
    .phone {
      color: $select-color;
      font-weight: bold;
    }
  }
  
  img {
    margin-top: 28px;
    margin-right: 8px;
  }
}

.one-half {
  width: 180px;
  float: left;
  padding-left: 20px;
}

.clearfix:before,
  .clearfix:after,
  .row:before,
  .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .row:after,
  .clearfix:after {
    clear: both; }
  .row,
  .clearfix {
    zoom: 1; }


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.hide {
  display: none;
}